module.exports = (types)=> `
<style>
  /* =============== Mobile, IPads & Tablet styles =============== */
  @media screen and (max-width: 850px) {}
</style>

<div class="types-wrapper">

</div>

<script>

</script>
`;