module.exports = (user) => `

<div class="navbar-outer">
  <style>
    /* =============== Notebook, Laptops, Desktops, Large screens & TV styles =============== */

    /* =============== Mobile, IPads & Tablet styles =============== */
    @media screen and (max-width: 850px) {}
  </style>

  <nav class="navbar container nf" title="Navigation Bar" tabindex="0">

  </nav>

  <script>

  </script>
</div>
`;