module.exports = (user) => `
<div class="outer-container">
  <style>
    /* =============== Mobile, IPads & Tablet styles =============== */
    @media screen and (max-width: 850px) {}
  </style>
  <footer class="container">

  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", () => setLoading(false));
  </script>
</div>
`;