* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", "Comic", sans-serif, Arial, Verdana, "Helvetica", "Helvetica Neue", "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans";
}

.app {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.cells-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 600px;
  max-height: 600px;
}

.current-player {
  text-transform: uppercase;
  font-size: 40px;
}
.app-header {
  text-align: center;
  background: black;
}
.app-heading {
  margin: 0;
  padding: 20px;
  color: wheat;
}
